<form method="post" action="{{ path('app_recipe_delete', {'id': recipe.id}) }}" onsubmit="return confirm({{ 'sure_to_delete.global'|trans}});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recipe.id) }}">
    <button class="btn btn-danger btn-sm active">{{ 'delete.global'|trans}}</button>
</form>
